@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');

body {
    background-image: url("https://images.wallpaperscraft.com/image/skyrim_mountains_winter_snow_shine_glare_99418_1920x1080.jpg");
    
}

h1 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 71px;
    text-align: center;
    text-shadow:  0 0 35px rgb(18, 80, 194);
    margin-top: 1.5%;
}  

.rules {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    font: 1.2em sans-serif;

}

.images {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}